/* GENERAL  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border: 0;
}

.button{
    padding: 7px;
    background-color: rgb(1, 97, 255);
    color: white;
    cursor: pointer;
}

.gray{
    color: rgb(158, 158, 158);
}

.blue{
    color: rgb(1, 97, 255);
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.h-50{
    height: 50%;
}

/* --HEADER-- */

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

#header a {
    text-decoration: none;
    color: rgb(158, 158, 158);
}

#header li{
    list-style-type: none;
    margin: 0 15px;
    font-size: 15px;
}

#header ul{
    display: flex;
}

/* HEADER-LEFT */
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* HEADER-RIGHT */

.header-right{
    display: flex;
    align-items: center;
}

#header .button{
    font-size: 15px;
}

/* --MAIN-- */


/* --JUMBO SECTION-- */


.jumbo-section{
    background-color: rgb(180, 208, 231);
    min-height: 400px;
}

.jumbo-big-container{
    max-width: 70%;
    margin: 0 auto;
}

.title-big-container{
    font-size: 60px;
    padding-top: 60px;
}

.details{
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    position: relative;
}

.jumbo-left{
    min-width: 30%;
    margin-top: 60px;
    height: 100%;
}

.jumbo-left p{
    padding-bottom: 20px;
    color: rgb(85, 83, 83);
}

.jumbo-left i{
    font-size: 40px;
}

.jumbo-right{
    height: 100%;
    min-width: 70%;
}

.jumbo-right img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 60px;
}

/* SECTION-MAIN */

.piani-business{
    
    max-width: 800px ;
    margin: 0 auto;

    /* duebug */
    border: 1px solid black;
}

.container{
    margin: 50px 0;
     /* duebug */
     border: 1px solid green;
}

/* card */

.container-card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    /* duebug */
    border: 1px solid blue;
    min-height: 800px;
    width: calc(100% / 3 - 10px);
}

.column-card{
    height: calc(100% / 3 - 10px);
    width: 100%;
    /* duebug */
    border: 1px solid blue;
    margin-top: 15px;
}

.header-card{
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 10px 0;
    text-align: center;
}

/* MARGIN CARD */

.intro-piani-business *{
    margin: 30px 0;
}

.card .gray {
    margin-bottom: 30px;
}

.card .block{
    display: flex;
    gap: 5px;
    margin: 10px;
}

.card h3,
.card h5,
.card button,
.card p {
    margin: 10px
}

.card button{
    margin-top: 20px
}

.hr{
    border: 0.5px solid rgb(158, 158, 158);
    margin: 30px 200px 0 10px;
}

.card h5{
    font-size: 15px;
    margin-left: 15px;
}

.card h3{
    font-size: 20px
}

/* partner-sectioin */
.container-partner{
    display: flex;
    margin: 100px 0;
    /* debug */
    border: 1px solid black;
    
}
.container-partner img{
    width: 100%;
}

.container-partner .btn{
    padding: 8px 10px;
    border: 1px solid black;
    background-color: white;
}

.container-partner .right p{
    margin: 20px 0;
}

.container-partner .right {
    padding: 30px 40px;
}

/* OPERATION-DROPBOX */

.operations-dropbox{
    margin: 50px 0;
}

.container-operations-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    /* debug */
    border: 1px solid black;
}

.operations-dropbox .title{
    margin: 30px 0;
}

.operations-card{
    width: calc(100% / 3 - 20px);
    min-height: 300px;

    /* debug */
    border: 1px solid black;
}

.operations-card img{
    width: 100%;
}

.operations-card .bottom *{
    padding: 10px 0;
}

.operations-card .bottom h4{
    font-size: 20px;
}

/* info-dropbox */

.info-dropbox{
    margin-top: 50px;
    margin-bottom: 20px;
}

.info-dropbox h3{
    font-size: 1.5em;
}

/*  container-box-colorful */

.container-box-colorful{
    height: 400px;

    display: flex;
    /* debug */
    border: 1px solid black;
    margin: 50px 0;
}

.big-square{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    /* debug */
    border: 1px solid black;
}

.small-square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    border: 1px solid black;
}

.small-square img{
    max-width: 50%;
    max-height: 50px;
    filter: invert(1);
}

.container-box-colorful .center-square {
   padding: 10px;
}

.container-box-colorful .center-square img {
    width: 40%;
 }

/* color container-box-colorful */

.green{
    background-color: rgb(162, 211, 155) ;
}

.bordeaux{
    background-color: rgb(98, 9, 43);
}

.turquoise{
    background-color: rgb(0, 147, 206);
}

.light-red{
    background-color: rgb(255, 29, 28);
}

.red{
    background-color: rgb(213, 0, 32);
}

.blue-square{
    background-color: rgb(13, 36, 129);
}

.yellow{
    background-color: rgb(255, 216, 48);
}

.light-blue{
    background-color: rgb(108, 208, 231);
}
