/* GENERAL  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border: 0;
}

.button{
    padding: 7px;
    background-color: rgb(1, 97, 255);
    color: white;
    cursor: pointer;
}

.gray{
    color: rgb(158, 158, 158);
}

.blue{
    color: rgb(1, 97, 255);
}


/* --HEADER-- */

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
}

#header a {
    text-decoration: none;
    color: rgb(158, 158, 158);
}

#header li{
    list-style-type: none;
    margin: 0 15px;
    font-size: 15px;
}

#header ul{
    display: flex;
}

/* HEADER-LEFT */
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* HEADER-RIGHT */

.header-right{
    display: flex;
    align-items: center;
}

#header .button{
    font-size: 15px;
}

/* --MAIN-- */


/* --JUMBO SECTION-- */


.jumbo-section{
    background-color: rgb(180, 208, 231);
    min-height: 400px;
}

.jumbo-big-container{
    max-width: 70%;
    margin: 0 auto;
}

.title-big-container{
    font-size: 60px;
    padding-top: 60px;
}

.details{
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    position: relative;
}

.jumbo-left{
    min-width: 30%;
    margin-top: 60px;
    height: 100%;
}

.jumbo-left p{
    padding-bottom: 20px;
    color: rgb(85, 83, 83);
}

.jumbo-left i{
    font-size: 40px;
}

.jumbo-right{
    height: 100%;
    min-width: 70%;
}

.jumbo-right img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 60px;
}

/* SECTION-MAIN */

.piani-business{
    min-height: 100vh ;
    max-width: 800px ;
    margin: 0 auto;

    /* duebug */
    border: 1px solid black;
}

.container{
    margin: 100px 10px;
     /* duebug */
     border: 1px solid green;
}

/* card */

.container-card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.card{
    /* duebug */
    border: 1px solid blue;
    min-height: 800px;
    width: calc(100% / 3 - 10px);
}

.header-card{
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 10px 0;
    text-align: center;
}

/* MARGIN CARD */

.intro-piani-business *{
    margin: 30px 0 30px 10px;
}

.card .gray {
    margin-bottom: 30px;
}

.card .block{
    display: flex;
    gap: 5px;
    margin: 10px;
}

.card h3,
.card h5,
.card button,
.card p {
    margin: 10px
}

.card button{
    margin-top: 20px
}


.hr{
    border: 0.5px solid rgb(158, 158, 158);
    margin: 30px 200px 0 10px;
}

.card h5{
    font-size: 15px;
    margin-left: 15px;
}

.card h3{
    font-size: 20px
}

